<% if(feedback !=null ) { %>
  <% feedback.forEach(function(feedback, index) { %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li>
          <a href="/FeedBack/update-feedback" class="btn btn-primary btn-dark btn-lg px-4 me-md-2" >Update feedback</a>
<!--          <a href="/FeedBack/delete-feedback" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Delete feedback</a>-->
        </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%- feedback.name %>
      </li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-12 col-md-4">
      <img src="/uploads/<%- feedback.image %>" class="img-fluid sticky-top" style="top: 20px;" alt="<%- feedback.name %>"
        loading="lazy">
    </div>
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12">
          <h1>
            <%- feedback.name %>
          </h1>
        </div>

        <div class="col-12" style="white-space: pre-line;">
          <h4>feedback more about</h4>
          <%- feedback.description %>
        </div>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/FeedBack/update-feedback" class="btn btn-primary btn-dark btn-lg px-4 me-md-2" >Update feedback</a>
        <a href="/FeedBack/delete-feedback" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Delete feedback</a>
    </div>

      <footer class="py-5">
        <p> Date of feedback : <%- feedback.date %>
        </p>
      </footer>
    </div>
  </div>
  <% }) %>
  <% } else { %>
    <p>No item found.</p>
    <% } %>