

<head>
<style>
h1{
	text-align:center;
}

.button{
    background: red;
    cursor: pointer; 
    border: none;
    padding: 15px;     

    color: inherit;   
    width: 60px;
    height: 20px;         
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;  
    border-radius: 5px;   
    color:#fff;
    font-weight:bold;
}

.edit{
background: rgba(16, 126, 255, 1);
}

.view{
background: rgba(16, 126, 255, 1);

}

.action-section{
	
    display:flex;
    justify-content: space-evenly;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(16, 126, 255, 1);
  color: white;
}
</style>
</head>
<body>

<h1>All Users</h1>

<table id="customers">
  <tr >
    <th>Username</th>
    <th>Email</th>
    <th>Address</th>
    <th>Gender</th>
    <th>Action</th>
  </tr>
  <% if(Users != null ) { %>
    <% Users.forEach(function(Users, index) { %>
      <tr>
        <td><%- Users.username %> </td>
        <td><%- Users.email %> </td>
        <td><%- Users.address %> </td>
        <td><%- Users.gender %> </td>
        <td class="action-section"><a href="/profile/<%- Users._id %>" class="btn-primary btn-sm">View</a>
          <a href="/updateUser/<%- Users._id %>" class="btn-primary btn-sm">Edit</a>
          <a href="/deleteUser/<%- Users._id %>" onclick="return confirm('Are you sure to delete this record?');"  class="btn btn-primary btn-danger btn-sm">Delete</a></td>
      </tr>      
    <% }) %>
  <% } %>




  <!-- <tr>
    <td>61a31cfbb5659136bd09d811</td>
    <td>yasas</td>
    <td>yasasa@gmail.com</td>
    <td>galle</td>
    <td class="action-section"><button class="button edit">Edit</button><button      	        class="button">Delete</button></td>
    
  </tr> -->
 
 
</table>

</body>
