<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Update Question</h1>
</div>

<div class="row justify-content-center">


  <div class="col-8">

    <form action="/update-questionrecord/<%= getdetails._id %>" enctype="multipart/form-data" method="POST">
      <input type="hidden" name="_id"  value="<%= getdetails._id %>">

      <div class="col-12">
        <label for="field" class="form-label">Field</label>
        <input type="text" name="field" id="field" class="form-control" value="<%= getdetails.field %>" required>
      </div>

      <div class="row g-3">
        <div class="col-12">
          <label for="question" class="form-label">Question</label>
          <input type="text" name="question" id="question" class="form-control" value="<%= getdetails.question %>" required>
        </div>


        <div class="col-12">
          <label for="answer" class="form-label">Answer</label>
          <textarea type="description" name="answer" id="answer" class="form-control" cols="30" rows="4"  required><%= getdetails.answer %></textarea>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Update Question</button><br/><br/><br/><br/><br/>
        </div>

      </div>

    </form>

  </div>
</div>

</div>